.wrapper {
  display: grid;
  gap: var(--fs-spacing-3);
  margin-top: var(--fs-spacing-4);
}

.block {
  padding: var(--fs-spacing-3);
  border: var(--fs-border-width) solid var(--fs-border-color-light);
  border-radius: var(--fs-border-radius);
  background: var(--fs-color-body-bkg);

  h2 {
    margin: 0 0 var(--fs-spacing-2);
    font-size: var(--fs-text-size-lead);
    font-weight: var(--fs-text-weight-bold);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--fs-spacing-1);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: var(--fs-spacing-0) var(--fs-spacing-1);
    border-radius: var(--fs-border-radius-pill);
    background: var(--fs-color-neutral-bkg);
    font-size: var(--fs-text-size-tiny);
  }
}
